<template>
  <input type="text" v-model="userName" placeholder="Имя">
  <input type="password" v-model="userPass" placeholder="Пароль">
  <input type="email" v-model="userEmail" placeholder="Email">
  <p className="error">{{ error }}</p>
  <button @click="sendData()">Отправить</button>

  <div v-if="users.length === 0">
    No users
  </div>
  <div v-else-if="users.length === 1">
    User only 1
  </div>
  <div v-else>
    Users more than 1
  </div>

  <User v-for="(el, index) in users" :key="index" :user="el" :index="index" :deleteUser="deleteUser" />
</template>

<script>
import User from "@/components/User.vue";

export default {
  components: { User },
  data() {
    return {
      users: [],
      error: '',
      userName: '',
      userPass: '',
      userEmail: ''
    }
  },
  methods: {
    sendData() {
      if(this.userName == '') {
        this.error = 'Name ne vvedeno';
        return;
      } else if(this.userEmail == '') {
        this.error = 'Email ne vvedeno';
        return;
      } else if(this.userPass == '') {
        this.error = 'Password ne vvedeno';
        return;
      }

      this.users.push({
        name: this.userName,
        pass: this.userPass,
        email: this.userEmail
      })
    },
    deleteUser(index) {
      this.users.splice(index, 1);
    }
  }
}
</script>

<style scoped>

</style>
